@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-truncate-line($line: 2) {
    -webkit-line-clamp: $line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
